# the author's original working copy has the written paper notes of the math
# solution contributor in JPG and PDF formats here, but we don't want them
# to be checked in (the Markdown version is much nicer anyway, trust me!)
chschu*
